
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 40%;
    }
}

h1 {
    color: #f2f2f2;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 240%;

}

h2 {
    color: #f2f2f2;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    font-size: 200%;
}

h3 {
    color: #f2f2f2;
    text-align: center;
    font-weight: lighter;
    text-decoration: none;
    font-size: 180%;
}

h4 {
    color: #f2f2f2;
    text-align: center;
    font-weight: lighter;
    text-decoration: none;
    font-size: 300%;
    margin: 0;
}

h5 {
    color: #f2f2f2;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    font-size: 350%;
    margin: 2%;

}

h6 {
    color: #f2f2f2;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    text-decoration: none;
    font-size: 300%;
    margin: 0;
}
a.instagram{
    color: white;
    text-decoration:none;
}
a.facebook{
    color: white;
    text-decoration:none;
}

#Kaffee_Klein {
    border-radius: 50%;
    width: 40%;
    margin-left: 30%;
    margin-top: 15%;
}

@media only screen and (max-width: 800px) {
    .grid-box {
        display: grid;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        grid-template-columns: 10% Auto 10% Auto 145px ;
        grid-template-rows: 5% 10% 40% 45% Auto;

        background: url("../source/img/smallBackground.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    }
    h4 {
        color: black;
        font-weight: normal;
    }

    h5 {
        color: black;

    }

    h6 {
        color: black;
    }



    .topNav {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 4;
    }


    .middleText {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;

    }

    .contact {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 6;
        background-color: #333;

    }


}

@media only screen and (min-width: 800px) {
    .grid-box {
        display: grid;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        grid-template-columns: minmax(230px, 15%) 25% minmax(270px, 25%) Auto;
        grid-template-rows: minmax(50px, 51px) 20% 50% Auto;

        background: url("../source/img/SoLa.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .topNav {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .contact {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
        background-color: #333;

    }

    .middleText {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}
    /* Add a black background color to the top navigation */
    .topNav {
        background-color: #333;
        overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topNav a {
        float: left;
        margin-left: 15px;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 170%;
    }


/* Change the color of links on hover */
.topNav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topNav a.active {
    background-color: #4CAF50;
    color: white;
}





