
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;

}


@media only screen and (max-width: 500px) {
    body {
        font-size: 40%;
    }
}



@media only screen and (min-width: 800px) {
    body {
        background: url("../source/img/SoLa.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .grid-box {
        display: grid;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        grid-template-columns: 25% minmax(auto, 50%) 25%;
        grid-template-rows: 50px auto minmax(75vh, auto);


    }

    .topNav {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .kleinertext {

        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: rgba(255, 255, 255, 0.4);
        margin-top: 3%;
        border-radius: 5px;
    }

    .kleinertext h1 {
        color: black;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        font-size: 240%;
        padding: 25px 70px;


    }


    .text {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: rgba(255, 255, 255, 0.4);
        margin-top: 3%;
        border-radius: 5px;


    }

    h1{
        color: black;
        text-align: left;
        font-weight: bold;
        text-decoration: none;
        font-size: 200%;
        margin: 0;
        padding-top: 15px;
        padding-bottom: 40px;
        padding-left: 50px;
        padding-right: 50px;

    }
    h2 {
        color: black;
        text-align: left;
        font-weight: bold;
        text-decoration: none;
        font-size: 240%;
        padding-bottom: 0;
        padding-left: 20px;
        padding-top: 20px;
        margin: 0;

    }

}

@media only screen and (max-width: 800px) {
    body {
        background: url("../source/img/smallBackground.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .grid-box {
        display: grid;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        grid-template-columns: 10% Auto 2px Auto 145px;
        grid-template-rows: 5% 250px Auto 10% 45%;
    }

    .topNav {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .kleinertext {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: rgba(255, 255, 255, 0.4);
        margin-top: 3%;
        border-radius: 5px;

    }

    .kleinertext h1 {
        color: black;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        padding: 25px 35px;
        font-size: 240%;


    }


    .text {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 6;
        background-color: rgba(255, 255, 255, 0.4);
        margin-top: 3%;
        border-radius: 5px;

    }

    h1 {
        color: black;
        text-align: left;
        font-weight: bold;
        text-decoration: none;
        padding-top: 15px;
        padding-bottom: 40px;
        padding-left: 50px;
        padding-right: 50px;
        margin: 0;
        font-size: 230%;

    }
    h2 {
        color: black;
        text-align: left;
        font-weight: bold;
        text-decoration: none;
        font-size: 240%;
        padding-bottom: 0;
        padding-left: 15px;
        padding-top: 15px;
        margin: 0;

    }

}


/* Add a black background color to the top navigation */
.topNav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topNav a {
    float: left;
    margin-left: 15px;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 170%;
}


/* Change the color of links on hover */
.topNav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topNav a.active {
    background-color: #4CAF50;
    color: white;
}





